<ul>
  {{#each stories as |story|}}
  {{#link-to 'story' story.id}}
    <li {{action 'selectStory' story}}
      class="{{if story.selected 'selected'}}"
    >
      {{story.title}}
    </li>
  {{/link-to}}
  {{/each}}
</ul>
{{yield}}
