<div class="box">
  <nav class='row header'>
    {{#link-to 'stories'}}Stories{{/link-to}}
    {{#link-to 'photos'}}Photos{{/link-to}}
  </nav>


  <div class='row content'>
    {{outlet}}
  </div>

  {{!-- <div class='row footer'>
    footer here
  </div> --}}

</div>
