<div class='story-layout'>
    <div class='stories-index'>
      {{stories-list}}
    </div>

    <div class='story-body'>
      <br>
      <h1>{{model.title}}</h1>
      <br>
      body: {{model.body}}
    </div>
</div>
